:root {
    --color-right-gradient: linear-gradient(to right, #00c0fd, #e70faa);
    --color-top-gradient: linear-gradient(to top, #00c0fd, #e70faa);
    --color-primary-text-light: black;
    --color-primary-text-dark: #CCCCCC;
    --color-secondary-dark:#fdfbfb;
    --color-primary-backround: #ffffff;
    --color-shadow-card: #00000033;
    --color-text-card: #666666;
    --color-fulltime: #59bb65;
    --color-background-fulltime: #d7ffe0;
    --color-botom-article: rgba(244, 244, 245, 255);
    --color-job-article: #8c8c8c;
    --color-rest-article: #8d8d8d;
  }
  
  :root:has(#theme [value="light"]:checked) {
    color-scheme: light; /* This changes the color for your theme depeding on what the user wants */
  }
  :root:has(#theme [value="dark"]:checked) {
    color-scheme: dark; /* This changes the color for your theme depeding on what the user wants */
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   /*  overflow-x: hidden; */
  }
  html {
    font-size: 16px; /* Standard font size */
    color-scheme: dark light; /* This changes the color for your theme */
   
  
    }
  
  
  @media (min-width: 900px) {
    html {
      font-size: 20px; /* Easier for media query to change all font size */
    }
  }
  a {
    list-style: none;
    text-decoration: none;
    color: light dark var(--color-primary-text-light, --color-primary-text-light);
  }
  
  body {
    min-height: 100vh; /* Needed this so my footer had a place to be */
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
  }
  /* Here starts the Home page */
  .container {
    width: 100%;
    height: auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 900px) {
    .container {
      display: flex;
      flex-direction: row;
      margin-top: 3%;
      padding: 0%;
    }
  }
  .under-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 900px) {
    .under-container {
      width: 20%;
      margin-left: 11.38%;
    }
  }
  .logo {
    background-clip: text;
    color: transparent;
    background-image: var(--color-right-gradient);
  }
  @media (min-width: 900px) {
    .logo {
      font-size: 1.3rem;
      font-weight: 700;
    }
    .logo-007 {
      font-size: 1.7rem;
    }
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }
  @media (min-width: 900px) {
    .hamburger {
      display: none;
    }
  }
  
  .bar {
    width: 15px;
    height: 4px;
    background-color:light-dark(black,#CCCCCC);/* This is working with var() and color dont know why tryin ti fix it */
  }
  
  .nav-menu {
    width: 100%;
    font-weight: 600;
  }
  @media (min-width: 900px) {
    .nav-menu {
      display: flex;
    }
  }
  .nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6%;
  }
  @media (min-width: 900px) {
    .nav-list {
      display: flex;
      flex-direction: row;
      justify-content: end;
    }
  }
  .class-logos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 20%;
  }
  @media (min-width: 900px) {
    .class-logos {
      width: 30%;
      display: flex;
      align-items: center;
      margin: 0;
      gap: 8%;
    }
  }
  
  .media-logos {
    width: 5%;
    height: auto;
    color: light dark var(--color-primary-text-light, --color-primary-text-dark);
  }
  @media (min-width: 900px) {
    .media-logos {
      width: 10%;
    }
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .gradiant-name {
    background-clip: text;
    color: transparent;
    background-image: var(--color-right-gradient);
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    font-size: 1.7rem;
    font-weight: 700;
    color: light dark var(--color-primary-text-light, --color-primary-text-dark);
  }
  @media (min-width: 900px) {
    .main-content {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      margin: auto;
    }
  }
  
  @media (min-width: 900px) {
    .intro {
      width: 100%;
      margin-left: 11.38%;
      font-size: 2.5rem;
    }
  }
  .box-gradiant {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 900px) {
    .box-gradiant {
      display: flex;
      justify-content: flex-end;
      margin-right: 11.38%;
    }
  }
  .my-picture {
    width: 250px;
    height: auto;
    margin-top: 5%;
    border-radius: 50%;
    margin-bottom: 5%;
    padding: 1%;
    background-image: var(--color-top-gradient);
  }
  @media (min-width: 900px) {
    .my-picture {
      width: 300px;
      padding: 1%;
    }
  }
  
  .first-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 1%;
    color: light-dark var(--color-primary-text-light, --color-primary-text-dark);
  }
  
  .child-footer {
    display: flex;
    font-size: 0.6rem;
  }
  
  /* Here starts the About page */
  .parent-about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
    color: light-dark var(--color-primary-text-light, --color-primary-text-dark);
  }
#showWork {
  border-radius: 1rem;
  width: 19%;
  margin-left: 11.38%;

}

#showEducation {
  
  margin-top: 2%;
  border-radius: 1rem;
  width: 19%;
  margin-left: 11.38%;

}

  .para {
    
    color:light-dark ;
  }
  @media (min-width: 900px){
    .para{
    
      padding: 4%;
    }
  }
  
  @media (min-width: 900px) {
    .parent-about {
      width: 100%;
      margin-top: 10%;
      margin-left: 11.38%;
      padding-top: 5%;
      padding-right: 54%;
      padding: 0%;
    }
  }

  
  .parentwork {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  @media (min-width: 900px) {
    .parentwork {
      margin-left: 11.38%;
      padding: 0%;
      padding-top: 5%;
      padding-right: 54%;
    }
  }
  .parent-education {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-bottom: 10%;
  }
  
  @media (min-width: 900px) {
    .parent-education {
      margin-left: 11.38%;
      padding: 0%;
      padding-top: 5%;
      padding-right: 54%;
      padding-bottom: 10%;
    }
  }
  .child-h2 {
    margin-bottom: 5%;
    font-size: 1.8rem;
  }
  .child-article {
    width: 100%;
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--color-botom-article);
    color: var(--color-rest-article);
  }
  .margin-article {
    width: 100%;
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    color: var(--color-rest-article);
  }
  @media (min-width: 900px) {
    .child-article {
      height: 5vh;
    }
    .margin-article {
      height: 5vh;
    }
  }
  .child-article:first-of-type {
    border-bottom: 0;
  }
  .margin-article:first-of-type {
    border-bottom: 0;
  }
  .class-jobs {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-job-article);
  }
  
  .class-info {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 0.8rem;
    color: var(--color-fulltime);
    background-color: var(--color-background-fulltime);
  }
  .class-what {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 0.5rem;
  }
  .class-time {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
  }
  .class-place {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
    margin-right: 20%;
  }
  .parent-svg {
    width: auto;
    height: auto;
    padding: 0;
  }
  .class-svg {
    width: auto;
    height: auto;
  }
  /* Here starts the Tech Stack page */
  .parent-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  @media (min-width: 900px) {
    .parent-section {
      margin-left: 11.38%;
      padding: 0%;
      padding-top: 5%;
      padding-right: 54%;
    }
  }
  
  .main-parent-tech-logo {
    padding: 1%;
  }
  
  @media (min-width: 900px) {
    .main-parent-tech-logo {
      margin-left: 7%;
    }
  }
  .nav-logos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
    padding: 2%;
    padding-bottom: 10%;
    text-decoration: none;
    list-style: none;
  }
  .nan-logo-children {
    width: 13vh;
    height: auto;
    padding-bottom: 20%;
    color: light-dark var(--color-primary-text-light, --color-primary-text-dark);
  }
  
  @media (min-width: 900px) {
    .nav-logos {
      
    }  
    .nan-logo-children {
      width: 19vh;
      padding-top: 20%;
      padding-right: 20%;
      padding-bottom: 20%;
    }
  }
  /* Here starts the Projects page */
  .projects-main-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  @media (min-width: 900px) {
    .projects-main-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  
  .projects-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 100px 0px var(--color-shadow-card);
    background: var(--color-primary-backround);
  
    width: 20rem;
    height: auto;
  }
  @media (min-width: 900px) {
    .projects-parent {
      width: 20rem;
    }
  }
  .projects-pictureone {
   width: 70%;
  }

  .projects-picturetwo {
    width: 90%;
  }

  .projects-picture {
    width: 100%;
  }
  
  .projects-header {
    margin: auto;
    padding-top: 4%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-primary-text-light);
  }
  .projects-card-info {
    padding-top: 4%;
    display: flex;
    align-items: center;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-text-card);
  }
  
  .projects-card-tech {
    display: flex;
    align-items: center;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.7rem;
    font-weight: 400;
    color: rgba(184, 185, 201, 255);
  }
  .projects-span {
    font-weight: 300;
  }
  .projects-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.776rem;
  }
   
  .projects-links-child {
    text-decoration: underline;
    color: black;
  }
  /* Here starts the Contact page */
  .parent-info-mejl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  @media (min-width: 900px){
  .parent-info-mejl {
    font-size: 2.7rem;
  }
  }
  
  .mail-link {
      background-clip: text;
      color: transparent;
      background-image: var(--color-right-gradient);
    }
   

   .modal-container {
    display: none; 
}

.show {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

}
#close-modal {
  margin-top: 3rem;
  width: 6rem;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
    padding: 2rem;
    border-radius: 10px;
    background-color:light-dark(white,black);
    
    
}


.open-modal{
  border-radius: 1rem;
  width: 6rem;
  margin-left: 1rem;

}
